<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>586847000074-3vfbt8agq16ja6vapomk46mluv7nul1u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.586847000074-3vfbt8agq16ja6vapomk46mluv7nul1u</string>
	<key>API_KEY</key>
	<string>AIzaSyCrfwlmzWEryfqYwIhVqF75l4jM-RiBdOg</string>
	<key>GCM_SENDER_ID</key>
	<string>586847000074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marcelo.encarteFacil</string>
	<key>PROJECT_ID</key>
	<string>encarte-facil</string>
	<key>STORAGE_BUCKET</key>
	<string>encarte-facil.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:586847000074:ios:8bc40cd1a41fe1b065b1f3</string>
</dict>
</plist>